@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&family=Patua+One&display=swap');

/*===== RESET =====*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
    height: auto;
}


/*===== Variables =====*/
:root{
    --title-font: 'Patua One', cursive;
    --text-font: 'Bona Nova', serif;
}

html{
    scroll-behavior: smooth;
}

/*===== Reutilizables =====*/
.container{
    padding: 1rem 1.5rem;
    margin-bottom: 1.6rem;
}

.flex{
    display: flex;
}

.grid{
    display: grid;
}

.section-title{
    font: lighter 2.2rem var(--title-font);
    margin-bottom: 0.5rem;
}

.title{
    font-family: var(--title-font);
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}

.section-text,
.price-text{
    font-family: var(--text-font);
    font-size: 1.4rem;
    margin-bottom: 1.2rem;
}

/*===== Header + Navbar =====*/
#header{
    border-bottom: 1px solid black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    z-index: 9999;
}

#header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
}

#header-img a{
    font-family: var(--title-font);
    font-size: 2.5rem;
    color: orange;
}

ul li a{
    font-family: var(--text-font);
    font-size: 1.6rem;
    color: black;
}

#nav-bar .grid{
    display: flex;
    gap: 2rem;
}

/*===== TITLE =====*/
.container.title{
    margin-top: 7rem;
}

main .container.title{
    text-align: center;
}

.title h1{
    font-family: var(--title-font);
    font-size: 3.5rem;
}

.description{
    font-family: var(--text-font);
    font-size: 1.8rem;
}

/*===== ABOUT =====*/
#about{
    align-items: center;
    flex-direction: column;
}

.section-image{
    width: 30rem;
    height: 30rem;
    animation: updown 3s ease infinite;
}

@keyframes updown {
    0% {
        transform: translateY(-1%);
    }
    50% {
        transform: translateY(1%);
    }
    100% {
        transform: translateY(-1%);
    }
}

/*===== DUCKS =====*/
.video-container{
    margin: 0 auto;
    max-width: 90vw;
}

#video{
    width: 100%;
    height: 50vh;
}

/*===== PRICING =====*/

.pricing-cards{
    border: 1px solid black;
    justify-items: center;
    text-align: center;
    margin: 1rem auto;
    width: 80%;
    border-radius: 15px;
}

.price-title{
    font: lighter 1.6rem var(--title-font);
    margin-bottom: 0.8rem;
}

ul li{
    font-size: 1.4rem;
    line-height: 1.9rem;
}

.card-img{
    width: 20vw;
}

.card-img:hover{
    animation: updown 1s ease infinite;
}

.card-folder{
    width: 20vw;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 0.5rem;
}

.card-folder:hover{
    animation: updown 1s ease infinite;
}

.card-img-folder{
    width: 20vw;
}

.price-text{
    margin-top: 1rem;
    font-size: 2rem;
}

.price-button{
    display: block;
    margin: 1rem auto;
    border: 1px solid;
    border-radius: 15px;
    padding: 1rem;
    font: lighter 1.8rem var(--text-font);
    transition: background-color ease 0.5s;
}

.price-button:hover{
    color: white;
    background-color: orange;
    border-color: orangered;
    
}

/*===== NEWSLETTER =====*/

input{
    font: 1.6rem var(--text-font);
    padding: 0.3rem;
}

.button{
    margin: 1rem auto;
    border: 1px solid;
    border-radius: 10px;
    padding: 0.3rem;
    font: lighter 1.8rem var(--text-font);
    transition: background-color ease 0.5s;
}

.button:hover{
    color: white;
    background-color: orange;
    border-color: orangered;
    
}



/*===== MEDIA =====*/
@media(min-width: 1200px){
    .title{
        font-family: var(--title-font);
        font-size: 2.2rem;
        margin-bottom: 0.5rem;
    }
    
    .section-text,
    .price-text{
        font-family: var(--text-font);
        font-size: 1.6rem;
        margin-bottom: 1.2rem;
    }


    #about{
        flex-direction: row;
        justify-content: space-around;
    }

    #about .about-text{
        max-width: 25vw;
    }


    #video{
        height: 75vh;
    }

    .pricing-cards{
        width: calc(100% - 50vw);
    }

}